.ButtonTypes{
    background-color: #0b0911;
    height: 100vh;
    padding: 32px 76px 77px;
}

.description{
    margin-bottom: 60px;
    opacity: 0.67;
    font-size: 19.21px;
}

.ButtonTypes .tableTitle{
    font-family: 'Roboto';
    padding: 16px 0;
    font-size: 11px;
}

.ButtonTypes .tableTitleCursor{
    font-family: 'Roboto';
    padding: 16px 16px 16px;
    font-size: 11px;
}

.ButtonTypes .tableTitleRow{
    font-family: 'Roboto';
    padding: 16px 20px;
    font-size: 11px;
}

.table{
    border-collapse: collapse;
    background-color: #1c162c;
    border-right: solid 8px #1c162c;
    border-bottom: solid 8px #1c162c;
}

.tableHeads th{
    padding: 20px 0;
    font-weight: 400;
}

td{
    text-align: center;
}

.cellsButton{
    background-color: #0B0911;
    padding: 16px;
}

/* DEFAULT */

.cellsButton .defaultPrimary{
    background-color: #8257E5;
    padding: 12px 24px;
    border-radius: 24px;
    border: none;
    cursor: pointer;
}

.cellsButton .defaultSecondary{
    background-color: #3C3748;
    padding: 12px 24px;
    border-radius: 24px;
    border: none;
    cursor: pointer;
}

.cellsButton .defaultTertiary{
    background-color: transparent;
    padding: 12px 24px;
    border-radius: 24px;
    border: none;
    cursor: pointer;
}

/* CURSORS */

.cursors{
    text-align: center;
    background-color: #0B0911;
}

/* HOVER */

.cellsButton .hoverPrimary{
    background-color: #8257E5;
    padding: 12px 24px;
    border-radius: 24px;
    border: none;
    cursor: pointer;
}

.cellsButton .hoverPrimary:hover{
    background-color: #9674E5;
}

.cellsButton .hoverSecondary{
    background-color: #3C3748;
    padding: 12px 24px;
    border-radius: 24px;
    border: none;
    cursor: pointer;
}

.cellsButton .hoverTertiary{
    background-color: transparent;
    padding: 12px 24px;
    border-radius: 24px;
    border: none;
    cursor: pointer;
}

.cellsButton .focusPrimary{
    background-color: #8257E5;
    padding: 12px 24px;
    border-radius: 24px;
    border: none;
    cursor: pointer;
}

/* FOCUS */

.cellsButton .focusPrimary:focus{
    border: solid 2px white;
}

.cellsButton .focusSecondary{
    background-color: #3C3748;
    padding: 12px 24px;
    border-radius: 24px;
    border: none;
    cursor: pointer;
}

.cellsButton .focusSecondary:focus{
    border: solid 2px white;
}

.cellsButton .focusTertiary{
    background-color: transparent;
    padding: 12px 24px;
    border-radius: 24px;
    border: none;
    cursor: pointer;
}

.cellsButton .focusTertiary:focus{
    border: solid 2px white;
}

/* DISABLED */

.cellsButton .disabledPrimary{
    background-color: #8257E5;
    padding: 12px 24px;
    border-radius: 24px;
    border: none;
    cursor: not-allowed;
    opacity: 0.56;
}

.cellsButton .disabledSecondary{
    background-color: #3C3748;
    padding: 12px 24px;
    border-radius: 24px;
    border: none;
    cursor: not-allowed;
    opacity: 0.56;
}

.cellsButton .disabledTertiary{
    background-color: transparent;
    padding: 12px 24px;
    border-radius: 24px;
    border: none;
    cursor: not-allowed;
    opacity: 0.56;
}

/* LOADING */

.cellsButton .loadingPrimary{
    background-color: #8257E5;
    padding: 12px 24px;
    border-radius: 24px;
    border: none;
    display: flex;
    align-items: center;
    gap: 3px;
    cursor: progress;
}

.cellsButton .loadingSecondary{
    background-color: #3C3748;
    padding: 12px 24px;
    border-radius: 24px;
    border: none;
    display: flex;
    align-items: center;
    gap: 3px;
    cursor: progress;
}

.cellsButton .loadingTertiary{
    background-color: transparent;
    padding: 12px 24px;
    border-radius: 24px;
    border: none;
    display: flex;
    align-items: center;
    gap: 3px;
    cursor: progress;
}

.cellsButton .loadingPrimary svg,
.cellsButton .loadingSecondary svg,
.cellsButton .loadingTertiary svg{
    animation: spinner 2s linear infinite;
}

.cellsButton .movablePrimary{
    background-color: #8257E5;
    padding: 12px 24px;
    border-radius: 24px;
    border: none;
    display: flex;
    align-items: center;
    gap: 3px;
    cursor: move;
}

.cellsButton .movableSecondary{
    background-color: #8257E5;
    padding: 12px 24px;
    border-radius: 24px;
    border: none;
    display: flex;
    align-items: center;
    gap: 3px;
    cursor: move;
}

.cellsButton .movableTertiary{
    background-color: transparent;
    padding: 12px 24px;
    border-radius: 24px;
    border: none;
    display: flex;
    align-items: center;
    gap: 3px;
    cursor: move;
}

@keyframes spinner{
    100% {
        transform: rotate(360deg);
    }
}